<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.gov.hmrc.components.screenshots">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.Components">

        <activity android:name=".atom.bullet.BulletedTextViewActivity" />
        <activity android:name=".atom.button.IconButtonActivity" />

    </application>
</manifest>